.specialty-content{
    border: 1px solid red;
    width: 100%;
    height: 200px;
}

// .slick-prev{
//     left: 0px !important;
//     border: 1px solid red !important;
// }
// .slick-next {
//      right: 0px !important; 
//     border: 2px solid rgb(0, 255, 17) !important;
// }
.image-slider-container {
    margin: 0 auto;
    width: 400px;
  }
  
  .image-slider-container .slick-prev:before,
  .image-slider-container .slick-next:before {
    color: black;
  }